@import "../styles/global.css";

.tea_theory{
    margin-top: 50px;
}

#drv {
    margin-top: 50px;
}   

.bashmak {
    color:#242423;
    background: #fdd0ab;
    padding: 20px 20px 20px 40px;
    margin: auto;
    margin-bottom: 40px;
    border-radius: 15px;
    max-width: 900px;
    text-align: justify;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 23px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
}

footer {
    max-width: 900px;
}
