@import "../styles/global.css";

.pic {
    text-align: center;
    justify-content: center;
    transition: .6s all;
}

.tea_pictures:hover {
    transform: scale(1.2);
}

.tea_pictures {
    width: 825px;
}

.tea_theory {
    max-width: 825px;
    height: auto;
}

footer {
    max-width: 900px;
}